body{
	/*background-color: #F6F6F6;*/
	background-color: #104DA1;
	text-align: center;
	/*font-family: Verdana,"Bitstream Vera Sans",sans-serif;*/
	color: #B3BED5;
}

h1{
	font-size: 16px;
}

h2{
	padding: 10px;
	font-size: 14px;
	color: #474D59;
}

div {
    background-color:#ffffff;
    color: #474D59;
    text-align:center;
}

svg text {
 /* font-family: "Helvetica",sans-serif;*/
  font-size: 11px;
  fill: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
